<footer class="pa4 pa5-l white-80 bt bg-black-80">
  <div class="mb3-l cf">
    <article class="fl w-50 w-25-l dib-ns mb4 pr2 pr0-ns">
      <h4 class="f5 f4-l fw6">London</h4>
      <span class="f7 f6-l db">Recollate South</span>
      <span class="f7 f6-l db">34 Whitestone Way</span>
      <span class="f7 f6-l di">Croydon, CR0 4FG</span>
      <a class="f6 db fw3 pv3 link dim white-50" title="Call our London Office" href="tel:+020202202202">
        +44 207 1234 1234
      </a>
    </article>
    <article class="fl w-50 w-25-l dib-ns mb4 pl2 pl0-ns">
      <h4 class="f5 f4-l fw6">York</h4>
      <span class="f7 f6-l db">Recollate North</span>
      <span class="f7 f6-l db">1 Park Lane</span>
      <span class="f7 f6-l di">York, YO24 4JQ</span>
      <a class="f6 db fw3 pv3 link dim white-50" title="Call our York office" href="tel:+01904293923">
        +44 190 424 12323
      </a>
    </article>
    <div class="fr w-100 w-50-l dib-ns mb4" >
      <a class="w-100 f3 f2-ns fw6 tl link dim dib pv5-l white-80" href="mailto:hello@recollate.com" >
        hello@recollate.com
      </a>
    </div>
  </div>
  <section class="cf mb5">
    <div class="mb4 mb0-ns w-100 w-50-ns fl">
      <p class="mv4 pv2 v-mid">
      Twitter | Facebook | Github | LinkedIn
      </p>
    </div>
    <div class="mb4 mb0-ns w-100 w-50-ns fl">
      <p class="f7 v-mid dib mv3 mv4">
      &copy; 2018 Recollate Ltd<br/>
      Company #11501180<br/>
      Registered in England &amp; Wales
      </p>
    </div>
  </section>
</footer>
