<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Recollate Team">
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
  <link rel="stylesheet" href="{{ '/assets/css/recollate.css' | relative_url }}">
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta name="theme-color" content="{{ site.colour_scheme.background_hex | default: '#ffffff'}}">
  {% if page.page_title %}
    {% seo title=false %}
    <title>{{ page.page_title }}</title>
  {% else %}
    {% seo %}
  {% endif %}

  {% include headjs.html %}
</head>
