{% assign header = page.header | default: layout.header %}
{% if header != 'home' %}
<header class="dt w-100 flex-row recollate-bg-blue">
  <div class="w-100 justify-center">
    {% include nav.html %}
  </div>
</header>
{% endif %}
