<nav class="db dt-l w-100 border-box h4-l ph4-l ph2">
  <a class="db dtc-l v-mid mid-gray w-100 w-30-l tl-l tc absolute-l top-0" href="/" title="Recollate homepage">
    <svg width="250">
      <use xlink:href="/assets/site/logos.svg#logo" />
    </svg>
  </a>
  <div class="db dtc-l v-mid w-100 w-70-l tc tr-l pv3 mb3 recollate-bg-blue">
    <a class="link hover-white animate near-white fw5 f5 f4-l dib mr4" href="/about-us" title="About Recollate Software">About</a>
    <a class="link hover-white animate near-white fw5 f5 f4-l dib mr4" href="/portfolio" title="See our previous work">Portfolio</a>
    <a class="link hover-white animate near-white fw5 f5 f4-l dib mr4" href="/services" title="What we can do for your business">Services</a>
    <a class="link hover-white animate near-white fw5 f5 f4-l dib mr4" href="/our-process" title="How we make our software amazing">Our process</a>
    <a class="link hover-white animate near-white fw5 f5 f4-l dib" href="/contact" title="Contact us, let's work together">Contact</a>
  </div>
</nav>
