/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/

@mixin background-retina($path, $ext: "png") {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  $at3x_path: "#{$path}@3x.#{$ext}";

  background-image: url("#{$at1x_path}");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @media all and (-webkit-min-device-pixel-ratio : 2),
  all and (-o-min-device-pixel-ratio: 2/1),
  all and (min--moz-device-pixel-ratio: 2),
  all and (min-device-pixel-ratio: 2) {
    background-image: url("#{$at2x_path}");
  }

  @media all and (-webkit-min-device-pixel-ratio : 3),
  all and (-o-min-device-pixel-ratio: 3/1),
  all and (min--moz-device-pixel-ratio: 3),
  all and (min-device-pixel-ratio: 3) {
    background-image: url("#{$at3x_path}");
  }
}
