html {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.15px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #103751
}

.full-width {
  position: relative;
  width: 80vw;
  left: 50%;
  right: 50%;
  margin-left: -40vw;
  margin-right: -40vw;
}

.highlight .highlight {
  padding: 0
}

.hero-background-image {
  @include background-retina('/assets/site/hero-banner', 'jpg');
}

.recollate-blue {
  color: #103751;
}

.recollate-bg-blue {
  background-color: #061926;
}

nav svg {
  fill: #f4f4f4;
}
