<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="w-100 flex flex-column">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include footerjs.html %}
  </body>
</html>
