---
layout: default
header: page
---

<main class="w-100 center flex flex-column flex-row-l justify-center">
  {% if page.full_width %}
  <article class="w-100">
  {% else %}
  <article class="w-100 ph3 ph4-ns">
  {% endif %}
    <div class="f5 f4-ns fw3 lh-copy mb0">
    {{ content }}
    </div>
  </article>
</main>
